Cython==0.15.1
Jinja2==2.6
PyYAML==3.10
brubeck==0.4.0
dictshield==0.4.3
distribute==0.6.28
gevent==0.13.6
gevent-zeromq==0.2.2
greenlet==0.4.0
ipython==0.13
nltk==2.0.3
pjsua==2.0.1
py-bcrypt==0.2
pymongo==2.1.1
python-dateutil==2.1
pyzmq==2.2.0.1
six==1.2.0
ujson==1.18
virtualenv==1.8.2
wsgiref==0.1.2
